<nz-page-header
    [nzBackIcon]="'arrow-left'"
>
    <nz-page-header-title>Безымянный</nz-page-header-title>
    <nz-page-header-subtitle>Информационное дополнение</nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-space>
            <!-- <button *nzSpaceItem nz-button>
                <span nz-icon nzType="expand"></span>
            </button>
            <button *nzSpaceItem nz-button>
                <span nz-icon nzType="printer"></span>
            </button> -->
            <button *nzSpaceItem nz-button>
                <span nz-icon nzType="info-circle"></span>
            </button>
            <button *nzSpaceItem nz-button nzType="primary">
                <span nz-icon nzType="save"></span>
                Сохранить
            </button>
            <div *nzSpaceItem>
                <button
                    nz-button
                    nzNoAnimation
                    nz-dropdown
                    [nzDropdownMenu]="menu"
                    nzPlacement="bottomRight"
                    style="padding: 0"
                >
                    <span nz-icon nzType="more" nzTheme="outline" style="font-size: 18px; vertical-align: top;"></span> 
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item nzWarning>
                            <span nz-icon nzType="reload"></span>
                            Сбросить к началу
                        </li>
                        <li nz-menu-item nzDanger>
                            <span nz-icon nzType="delete"></span>
                            Удалить
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>
<nz-content>
    <div
        class="bi-constructor"
        [class]="biEditorUIMap.classString"
    >
    <!-- [class.bi-expand-editor]="biExpandEditor" -->
    <!-- <span nz-icon [nzType]="biExpandEditor ? 'compress' : 'expand'" nzTheme="outline"></span> -->

        <div class="inner-content bi-constructor-sources">
            <div class="bi-sources-header">
                <strong><span nz-icon nzType="database" nzTheme="outline"></span> Источники</strong>
                <button
                    (click)="biEditorUIMap.setUIClasses('sources')"
                    nz-button
                    nzType="text"
                    [nzSize]="'small'"
                    title="Свернуть панель">
                    <span nz-icon [nzType]="biEditorUIMap.sources.isExpand ? 'caret-down' : 'caret-up'"></span>
                </button>
            </div>
            <div class="bi-sources-select">
                <nz-select nzShowSearch nzPlaceHolder="Выбирите источник" [nzSize]="'small'"> <!--[(ngModel)]="selectedSelectSource"-->
                    <nz-option nzLabel="Название источника жанных 1" nzValue="1"></nz-option>
                    <nz-option nzLabel="Название источника жанных 2" nzValue="2"></nz-option>
                    <nz-option nzLabel="Название источника жанных 3" nzValue="3"></nz-option>
                </nz-select>
            </div>
            <div class="bi-sources">
                <div class="bi-sources-search">
                    <!-- Этот поиск можно прикнутить к списку, рецепт на странице - https://ng.ant.design/components/tree-view/en -->
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="small">
                        <input type="text" nz-input placeholder="Поиск в источнике"/>
                    </nz-input-group>
                    <ng-template #suffixIconSearch nzSize="small">
                        <span nz-icon nzType="search"></span>
                    </ng-template>
                </div>
                <div class="bi-sources-list">
                    <nz-tree [nzData]="nodes" nzShowLine (nzClick)="nzEvent($event)"></nz-tree>
                </div>
            </div>
        </div>
        <div class="inner-content bi-constructor-settings">
            <div class="bi-settings-header">
                <strong><span nz-icon nzType="setting" nzTheme="outline"></span> Настройки</strong>
                <button
                    (click)="biEditorUIMap.setUIClasses('settings')"
                    nz-button
                    nzType="text"
                    [nzSize]="'small'"
                    title="Свернуть панель">
                    <span nz-icon [nzType]="biEditorUIMap.settings.isExpand ? 'caret-down' : 'caret-up'"></span>
                </button>

            </div>
            <div class="bi-settings-entities">
                <!-- Сущности -->
                <!--button nz-select nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuEntities" [nzSize]="'small'">
                    <span nz-text>Название сущности</span>
                    <span nz-icon nzType="down"></span>
                </button>
                <nz-dropdown-menu #menuEntities="nzDropdownMenu">
                    <div class="ant-dropdown-menu bi-entities">
                        <div class="bi-entities-search">
                            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="small">
                                <input type="text" nz-input placeholder="Поиск в источнике"/>
                            </nz-input-group>
                            <ng-template #suffixIconSearch nzSize="small">
                                <span nz-icon nzType="search"></span>
                            </ng-template>
                        </div>
                        <div class="bi-entities-list">
                            <nz-tree [nzData]="nodesEntities" nzShowLine (nzClick)="nzEvent($event)"></nz-tree>
                        </div>
                    </div>
                </nz-dropdown-menu-->
                <nz-tree-select
                    [nzExpandedKeys]="expandEntities"
                    [nzNodes]="nodesEntities"
                    nzShowSearch
                    nzPlaceHolder="Please select"
                    [nzSize]="'small'"
                ></nz-tree-select>

            </div>
            <div class="bi-settings-list">
                <!-- Настройки страницы -->
                <div nz-typography class="bi-settings-page" style="display: none;">
                    <div class="bi-page">
                        <strong><span nz-icon nzType="edit" nzTheme="outline"></span> Название страницы</strong>
                        <input nz-input placeholder="Название страницы" nzSize="small" [(ngModel)]="valuePageName"/>

                        <strong><span nz-icon nzType="file" nzTheme="outline"></span> Размер страницы</strong>
                        <nz-select ngModel="0" [nzSize]="'small'">
                            <nz-option nzValue="0" nzLabel="Авторазмер"></nz-option>
                            <nz-option nzValue="1" nzLabel="Пользовательский"></nz-option>
                            <nz-option-group nzLabel="Рабочий стол и ТВ">
                                <nz-option nzValue="2" nzLabel="Ultra HD - 3840x2160"></nz-option>
                                <nz-option nzValue="3" nzLabel="Full HD - 1920x1080"></nz-option>
                            </nz-option-group>
                            <nz-option-group nzLabel="Телефон">
                                <nz-option nzValue="5" nzLabel="9:16"></nz-option>
                                <nz-option nzValue="6" nzLabel="9:21"></nz-option>
                            </nz-option-group>
                            <nz-option-group nzLabel="Планшет">
                                <nz-option nzValue="7" nzLabel="16:10"></nz-option>
                            </nz-option-group>
                            <nz-option-group nzLabel="Бумага">
                                <nz-option nzValue="8" nzLabel="A4"></nz-option>
                            </nz-option-group>
                        </nz-select>
                        
                        <div class="bi-page-size">
                            <div>
                                <div><small>Ширина:</small></div>
                                <nz-input-number (ngModel)="1" [nzMin]="1" [nzMax]="8000" [nzStep]="1" [nzSize]="'small'"></nz-input-number>
                            </div>
                            <div>
                                <div><small>Высота:</small></div>
                                <nz-input-number (ngModel)="1" [nzMin]="1" [nzMax]="8000" [nzStep]="1" [nzSize]="'small'"></nz-input-number>
                            </div>
                        </div>
                    </div>
                    <div class="bi-grid">
                        <strong><span nz-icon nzType="appstore" nzTheme="outline"></span> Макет сетки</strong>
                        <div class="bi-grid-size">
                            <div>
                                <div><small>Колонки:</small></div>
                                <nz-input-number (ngModel)="1" [nzMin]="1" [nzMax]="20" [nzStep]="1" [nzSize]="'small'"></nz-input-number>
                            </div>
                            <div>
                                <div><small>Ряды:</small></div>
                                <nz-input-number (ngModel)="1" [nzMin]="1" [nzMax]="20" [nzStep]="1" [nzSize]="'small'"></nz-input-number>
                            </div>
                            <div>
                                <div><small>Отступ:</small></div>
                                <nz-input-number (ngModel)="1" [nzMin]="1" [nzMax]="10" [nzStep]="1" [nzSize]="'small'"></nz-input-number>
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- Настройки блока -->
                <div nz-typography class="bi-settings-block">
                    <!-- <nz-collapse nzGhost>
                        <nz-collapse-panel
                            #panel
                            [nzHeader]="'Настройки блока'"
                            [nzActive]="true"
                            [nzExtra]="extraTpl"
                        >
                            <div>Expand 1</div>
                        </nz-collapse-panel>
                    </nz-collapse>
                    <ng-template #extraTpl>
                        <! -- You can use stopPropagation if you don't want the panel to toggle -- >
                        <span nz-icon nzType="setting" (click)="$event.stopPropagation()"></span>
                    </ng-template>

                    <br>

                    <nz-collapse nzGhost [nzExpandIconPosition]="'right'">
                          <nz-collapse-panel
                            #panel
                            [nzHeader]="'panel.name'"
                          >
                            <div>panel.name content</div>
                            <ng-template>
                              <span nz-icon class="ant-collapse-arrow" [nzRotate]="panel.nzActive ? 90 : -90"></span>
                            </ng-template>
                          </nz-collapse-panel>
                      </nz-collapse>

                    <br> -->
                    
                    <div class="bi-block" nz-typography>
                        <strong><span nz-icon nzType="block" nzTheme="outline"></span> Настройка блока</strong>
                        <div>
                            <nz-form-control >
                                <nz-form-label nzFor="block-name" nzSize="small"><strong>Название</strong></nz-form-label>
                                <input id="block-name" nz-input placeholder="Название блока" nzSize="small" [(ngModel)]="valueBlockName" />
                            </nz-form-control>
                            <nz-form-control>
                                <label nz-checkbox [(ngModel)]="isBlockNameChecked">Показывать название</label>
                            </nz-form-control>
                        </div>
                        <div>
                            <nz-form-control >
                                <nz-form-label nzFor="block-name" nzSize="small"><strong>Тип</strong></nz-form-label>
                            </nz-form-control>
                            <nz-select
                                nzPlaceHolder="Выбирите тип"
                                [nzSize]="'small'"
                                [ngStyle]="
                                    {'width': '100%',
                                    'margin-bottom': '8px'}
                                "
                            >
                                <nz-option nzLabel="Название типа 1" nzValue="1"></nz-option>
                                <nz-option nzLabel="Название типа 2" nzValue="2"></nz-option>
                                <nz-option nzLabel="Название типа 3" nzValue="3"></nz-option>
                            </nz-select>
                            <nz-list nzBordered nzSize="small">
                                <nz-list-header>Столбцы</nz-list-header>
                                    <div class="ant-list-items bi-list-small-5-row">
                                        <nz-tree [nzData]="nodes" [ngStyle]="{'min-height': '168px'}" nzShowLine (nzClick)="nzEvent($event)"></nz-tree>
                                        <!--
                                        <nz-list-item>
                                            <div nz-list-item-extra>Название источника</div>
                                            <div nz-list-item-actions>
                                                <button nz-button nzType="text"
                                                    [nzSize]="'small'"
                                                    type="button"
                                                    title="Удалить столбец"
                                                ><span nz-icon nzType="delete"></span></button>
                                            </div>
                                        </nz-list-item>
                                        <nz-list-item>
                                            <div nz-list-item-extra>Название источника</div>
                                            <div nz-list-item-actions>
                                                <button nz-button nzType="text"
                                                    [nzSize]="'small'"
                                                    type="button"
                                                    title="Удалить столбец"
                                                ><span nz-icon nzType="delete"></span></button>
                                            </div>
                                        </nz-list-item>
                                        <nz-list-item>
                                            <div nz-list-item-extra>Название источника</div>
                                            <div nz-list-item-actions>
                                                <button nz-button nzType="text"
                                                    [nzSize]="'small'"
                                                    type="button"
                                                    title="Удалить столбец"
                                                ><span nz-icon nzType="delete"></span></button>
                                            </div>
                                        </nz-list-item>
                                        <nz-list-item>
                                            <div nz-list-item-extra>Название источника</div>
                                            <div nz-list-item-actions>
                                                <button nz-button nzType="text"
                                                    [nzSize]="'small'"
                                                    type="button"
                                                    title="Удалить столбец"
                                                ><span nz-icon nzType="delete"></span></button>
                                            </div>
                                        </nz-list-item>
                                        <nz-list-item>
                                            <div nz-list-item-extra>Название источника</div>
                                            <div nz-list-item-actions>
                                                <button nz-button nzType="text"
                                                    [nzSize]="'small'"
                                                    type="button"
                                                    title="Удалить столбец"
                                                ><span nz-icon nzType="delete"></span></button>
                                            </div>
                                        </nz-list-item>
                                        <nz-list-item>
                                            <div nz-list-item-extra>Название источника</div>
                                            <div nz-list-item-actions>
                                                <button nz-button nzType="text"
                                                    [nzSize]="'small'"
                                                    type="button"
                                                    title="Удалить столбец"
                                                ><span nz-icon nzType="delete"></span></button>
                                            </div>
                                        </nz-list-item>
                                    -->
                                    </div>
                                <!--nz-list-empty/> <!-- если пусто -->
                                <nz-list-footer>
                                    <button
                                        (click)="showModalEditCodeLink()"
                                        nz-button nzType="text" [nzSize]="'small'" [ngStyle]="{width: '100%'}"
                                    >
                                        <span nz-icon nzType="edit"></span> Редактор графика
                                    </button>
                                </nz-list-footer>
                            </nz-list>
                        </div>
                    </div>
                    <div class="bi-type" style="display: none;">
                        <strong><span nz-icon nzType="block" nzTheme="outline"></span> Настройка блока</strong>
                        <!-- <strong>Тип содержимого</strong>
                        <div>График или таблица</div>
                        <div>редактор если таблица</div> -->
                        <button
                            (click)="showModalEditCodeLink()"
                            nz-button nzType="default" [nzSize]="'small'" [ngStyle]="{width: '100%'}"
                        >
                            <span nz-icon nzType="edit"></span> Редактор графика
                        </button>
                    </div>
                </div>
            </div>
        </div>
<!-- 
    <div class="bi-container" --bi-container-zoom: 1, --bi-cursor: var(url("data:image/svg+xml, ..."))>
        <div class="bi-canvas">
            <div class="bi-shapes" transform: scale(1) translate(0px, 0px);>
                <div class="bi-shape" >
 -->

        <div class="bi-constructor-filters">
            <div class="inner-content bi-filters-container">
                <span nz-icon nzType="filter" nzTheme="fill"></span>
                <div>
                    filters
                </div>
            </div>
            <div class="inner-content bi-fullscreen platform-only">
                <button
                    nz-button [nzType]="'link'" [nzSize]="'small'"
                    title="Развернуть конструктор"
                >
                    <span nz-icon nzType="expand-alt"></span> <!-- nzType=" блаблаистина ? 'compress-alt' : 'expand-alt'" -->
                </button>    
            </div>
        </div>
        <div class="bi-constructor-editor">

            <!--
            <div
                class="bi-editor"
                [ngStyle]="getEditorCanvasBgTransform()"
            >

                < !-- <svg class="tl-grid" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    [ngStyle]="getCanvasTransform()"
                >
                    <defs>
                        <pattern id="grid-64" width="640" height="640" patternUnits="userSpaceOnUse">
                            <circle class="tl-grid-dot" cx="0.5" cy="0.5" r="1" opacity="1"></circle>
                        </pattern>
                        <pattern id="grid-16" width="160" height="160" patternUnits="userSpaceOnUse">
                            <circle class="tl-grid-dot" cx="0.5" cy="0.5" r="1" opacity="1"></circle>
                        </pattern>
                        <pattern id="grid-4" width="40" height="40" patternUnits="userSpaceOnUse">
                            <circle class="tl-grid-dot" cx="0.5" cy="0.5" r="1" opacity="1"></circle>
                        </pattern>
                        <pattern id="grid-1" width="10" height="10" patternUnits="userSpaceOnUse">
                            <circle class="tl-grid-dot" cx="0.5" cy="0.5" r="1" opacity="0.2"></circle>
                        </pattern>
                    </defs>
                    <rect width="100%" height="100%" fill="url(#grid-64)"></rect>
                    <rect width="100%" height="100%" fill="url(#grid-16)"></rect>
                    <rect width="100%" height="100%" fill="url(#grid-4)"></rect>
                    <rect width="100%" height="100%" fill="url(#grid-1)"></rect>
                </svg> -- >

                <div
                    class="bi-editor-page"
                    [ngStyle]="getCanvasTransform()"
                >
                    dash
                </div>
            </div>
            -->

            

            <div class="bi-canvas">
                <div class="bi-shapes">

                </div>
            </div>

            <div class="bi-editor-ui">
                <div class="bi-editor-ui">
                    <div class="bi-expand">
                        <!-- (click) = "biExpandEditor = !biExpandEditor" -->
                        <button
                            (click)="biEditorUIMap.setUIClasses('editor')"
                            nz-button [nzType]="'link'" [nzSize]="'small'"
                        >
                            <span nz-icon [nzType]="biEditorUIMap.editor.isExpand ? 'compress' : 'expand'" nzTheme="outline"></span>
                        </button>
                    </div>
                    <nz-button-group class="bi-zoom">
                        <button
                            (click)="canvasScale = canvasScale - 1"
                            (dblclick)="canvasScale = canvasScale - 10 >= CANVAS_SCALE_MIN ? canvasScale - 10 : CANVAS_SCALE_MIN"
                            nz-button [nzSize]="'small'"
                            nzTooltipTitle="Zoom out (Ctrl -)" nzTooltipPlacement="top" nz-tooltip
                            [disabled]="canvasScale <= CANVAS_SCALE_MIN"
                        >
                            <span nz-icon nzType="minus"></span>
                        </button>
                        <button
                            (click)="canvasScale = 100"
                            nz-button [nzSize]="'small'"
                            nzTooltipTitle="Zoom reset" nzTooltipPlacement="top" nz-tooltip
                            [disabled]="canvasScale === 100"
                        >
                            <small>{{canvasScale}}%</small>
                        </button>
                        <button
                            (click)="canvasScale = canvasScale + 1"
                            (dblclick)="canvasScale = canvasScale + 10 <= CANVAS_SCALE_MAX ? canvasScale + 10 : CANVAS_SCALE_MAX"
                            nz-button [nzSize]="'small'"
                            nzTooltipTitle="Zoom in (Ctrl =)" nzTooltipPlacement="top" nz-tooltip
                            [disabled]="canvasScale >= CANVAS_SCALE_MAX"
                        >
                            <span nz-icon nzType="plus"></span>
                        </button>
                    </nz-button-group>
                </div>
            </div>
        </div>
    </div>

    <nz-modal
        (nzOnOk)="handleModalEditCodeLinkOk()"
        (nzOnCancel)="handleModalEditCodeLinkCancel()"
        [(nzVisible)]="isModalEditCodeLinkVisible"
        nzCentered
        nzWidth="90%"
        nzTitle="График"
        [nzStyle]="{'max-height': '90%'}"
    >
        <ng-container *nzModalContent>
            <div class="bi-viz-chart">
                <div class="bi-viz-bar">
                    <nz-select
                        nzPlaceHolder="Выбирите тип"
                        [nzSize]="'small'"
                        [ngStyle]="
                            {'width': '100%'}
                        "
                    >
                        <nz-option nzLabel="Название типа 1" nzValue="1"></nz-option>
                        <nz-option nzLabel="Название типа 2" nzValue="2"></nz-option>
                        <nz-option nzLabel="Название типа 3" nzValue="3"></nz-option>
                    </nz-select>
                    <button nz-button [nzSize]="'small'">
                        <span nz-icon nzType="save" nzTheme="outline"></span>
                        Сохранить шаблон
                    </button>
                    <button nz-button [nzSize]="'small'">
                        <span nz-icon nzType="reload" nzTheme="outline"></span>
                        Обновить
                    </button>
                </div>
                <div class="bi-viz-editor">
                    Редактор...
                </div>
                <div class="big3-viz-chart">
                    <div class="demo-chart">
                        demo-chart в рамке будет
                    </div>
                </div>
            </div>
        </ng-container>
    </nz-modal>
</nz-content>