<nz-page-header
    [nzBackIcon]="'arrow-left'"
>
    <nz-page-header-title>Безымянный</nz-page-header-title>
    <nz-page-header-subtitle>Информационное дополнение</nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-space>
            <!-- <button *nzSpaceItem nz-button>
                <span nz-icon nzType="expand"></span>
            </button>
            <button *nzSpaceItem nz-button>
                <span nz-icon nzType="printer"></span>
            </button> -->
            <button *nzSpaceItem nz-button>
                <span nz-icon nzType="info-circle"></span>
            </button>
            <button *nzSpaceItem nz-button nzType="primary">
                <span nz-icon nzType="save"></span>
                Сохранить
            </button>
            <div *nzSpaceItem>
                <button
                    nz-button
                    nzNoAnimation
                    nz-dropdown
                    [nzDropdownMenu]="menu"
                    nzPlacement="bottomRight"
                    style="padding: 0"
                >
                    <span nz-icon nzType="more" nzTheme="outline" style="font-size: 18px; vertical-align: top;"></span> 
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item nzWarning>
                            <span nz-icon nzType="reload"></span>
                            Сбросить к началу
                        </li>
                        <li nz-menu-item nzDanger>
                            <span nz-icon nzType="delete"></span>
                            Удалить
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>
<nz-content>
    <div class="inner-content bi-constructor">
        <div class="bi-constructor-sources">
            <strong class="bi-sources-header">
                Источники
            </strong>
            <div class="bi-sources-search">
                <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="small">
                    <input type="text" nz-input placeholder="Поиск в источнике"/>
                </nz-input-group>
                <ng-template #suffixIconSearch nzSize="small">
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
            <div class="bi-sources-list">
                <nz-tree [nzData]="nodes" nzShowLine (nzClick)="nzEvent($event)"></nz-tree>
            </div>
        </div>
        <div class="bi-constructor-settings">
            <strong class="bi-sources-header">
                Настройки
            </strong>
        </div>
        <div class="bi-constructor-filters">
            filters
        </div>
        <div class="bi-constructor-editor">
            constructor
        </div>
    </div>
</nz-content>