.bi-constructor {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: max-content max-content 1fr;
    grid-auto-rows: 46px 1fr;
    height: 100%;
    .bi-constructor-sources {
        grid-column: 1/2;
        grid-row: 1/3;

        display: grid;
        width: 256px;
        grid-template-rows: max-content max-content 1fr;
        grid-gap: 8px;
        z-index: 1;
        .bi-sources-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;

        }
        .bi-sources-select {
            display: grid;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 4px 8px 4px;
            border-bottom: 1px solid rgb(217, 217, 217);
        }
        .bi-sources {
            display: grid;
            grid-gap: 8px;
            grid-template-rows: max-content 1fr;
            overflow-y: hidden;
            // .bi-sources-search {

            // }
            .bi-sources-list {
                overflow-y: auto;
            }
        }
    }
    .bi-constructor-settings {
        grid-column: 2/3;
        grid-row: 1/3;
        &:focus-within,
        &:has(.ant-select-open) {
            grid-row: 1/3 !important;
        }

        display: grid;
        width: 256px;
        grid-template-rows: max-content max-content 1fr;
        grid-gap: 8px;
        z-index: 1;
        .bi-settings-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
        }
        .bi-settings-entities {
            display: grid;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 4px 8px 4px;
            border-bottom: 1px solid #d9d9d9;
            // .bi-entities-list {
            //     height: 240px !important;
            //     overflow: auto;
            // }
        }
        .bi-settings-list {
            overflow-y: auto;
            .bi-settings-page {
                display: grid;
                grid-gap: 12px;
                .bi-page,
                .bi-grig {
                    display: grid;
                    grid-gap: 8px;

                }
                .bi-page {
                    .bi-page-size {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        justify-items: center;
                    }
                }
                .bi-grid {
                    .bi-grid-size {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        justify-items: center;
                    }
                }
            }
            .bi-settings-block {
                display: grid;
                grid-gap: 12px;
                .bi-block {
                    display: grid;
                    grid-gap: 8px;
                }
            }
        }
    }
    .bi-constructor-filters {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        grid-gap: 6px;
        z-index: 1;
        .bi-filters-container {
            flex-grow: 1;
            display: flex;
            grid-gap: 12px;
        }
        .bi-fullscreen {
            padding: 10px;
        }
    }
    .bi-constructor-editor {
        grid-column: 3/4;
        grid-row: 2/3;
        z-index: 0;
    }
    .bi-constructor-editor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .bi-editor-grid {
            grid-column: 1/-1;
            grid-row: 1/-1;
        }
        .bi-editor-ui {
            grid-column: 1/-1;
            grid-row: 1/-1;
            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .bi-zoom {
                grid-column: 1/-1;
                grid-row: 1/-1;

                justify-self: end;
                align-self: end;
            }
            .bi-expand {
                grid-column: 1/-1;
                grid-row: 1/-1;

                justify-self: end;
                align-self: start;
            }
        }
    }



    .bi-editor {
        position: relative;
        grid-column: 1/-1;
        grid-row: 1/-1;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;

        background-image: url(/assets/images/canvas-bg-grid.svg);
        // background-position-x: 0px;
        // background-position-y: 0px;
        // background-size: 67%;

        .bi-editor-page {
            background-color: #fff;
            box-shadow: 1px 1px 10px hsl(0, 0%, 20%);
            border-radius: 2px;

            .bi-editor-grid {
                grid-column: 1/-1;
                grid-row: 1/-1;
            }
        }
    }

}
.bi-charts-editor.ng-star-inserted {
    display: grid;
    grid-template-columns: minmax(256px, 50%) 1fr;
    gap: 16px;
    overflow: hidden;
    height: 320px;
}

.bi-entities {
    max-height: 240px;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: max-content 1fr;
    overflow-y: hidden;
    &.ant-dropdown-menu {
        padding: 4px;
    }
    // .bi-entities-search {
    // }
    .bi-entities-list {
        overflow: auto;
    }
}



.bi-constructor {
    &.bi-expand-sources {
        .bi-constructor-sources:not(:hover) {
            grid-row: 1/2;
            overflow: hidden;
        }
        .bi-constructor-sources {
            grid-column: 2/3;
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
        .bi-constructor-settings {
            grid-column: 1/2;
        }
        .bi-constructor-editor{
            grid-column: 2/4;
        }
    }
    &.bi-expand-settings {
        .bi-constructor-settings:not(:hover) {
            grid-row: 1/2;
            overflow: hidden;
        }
        .bi-constructor-settings {
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
        .bi-constructor-editor{
            grid-column: 2/4;
        }
    }
    &.bi-expand-editor {
        .bi-constructor-sources:not(:hover) {
            grid-row: 1/2;
            overflow: hidden;
        }
        .bi-constructor-settings:not(:hover) {
            grid-row: 1/2;
            overflow: hidden;
        }
        // .bi-constructor-settings:has(.ant-select-open) {
        //     grid-row: 1/3 !important;
        // }
            .bi-constructor-sources,
        .bi-constructor-settings {
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
        .bi-constructor-editor{
            grid-column: 1/4;
        }
    }
    // .bi-constructor-settings:has(.ant-select-open) {
    //     grid-row: 1/3 !important;
    // }
}
.tl-grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    pointer-events: none;
    // z-index: var(--layer-grid, 0);
    contain: strict;

    display: block;
    max-width: 100%;
    .tl-grid-dot {
        --color-grid: hsl(0, 0%, 40%);
        fill: var(--color-grid);
    }
}

// .cmp_bi-zoom {
//     display: inline-grid;
//     grid-auto-flow: column;
//     grid-gap: 4px;
//     align-items: center;
//     background-color: #fff;
//     border-radius: 2px;
// }


.bi-constructor-editor {
    position: relative;

    .bi-editor-ui {
        grid-column: 1/-1;
        grid-row: 1/-1;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .bi-zoom {
            grid-column: 1/-1;
            grid-row: 1/-1;

            justify-self: end;
            align-self: end;
        }
        .bi-expand {
            grid-column: 1/-1;
            grid-row: 1/-1;

            justify-self: end;
            align-self: start;
        }
    }

    .bi-canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: clip;
        content-visibility: auto;
        touch-action: none;
        contain: strict;

        background-image: url(/assets/images/canvas-bg-grid.svg);
        background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100%;

        .bi-shapes {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            contain: layout style size;
            // z-index: ;
            .bi-shape {
                position: absolute;
                pointer-events: none;
                overflow: visible;
                transform-origin: top left;
                contain: size layout;
    
                transform: matrix(1, 0, 0, 1, 1000, 350);
                width: 200px;
                height: 200px;
                opacity: 1;
                z-index: 4001;
                display: block;
            }
        }
    }
    
}
// .bi-canvas {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     z-index: var(--layer-canvas);
//     cursor: var(--bi-cursor);
//     overflow: clip;
//     content-visibility: auto;
//     touch-action: none;
//     contain: strict;
//     .bi-shapes {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 1px;
//         height: 1px;
//         contain: layout style size;
//         // z-index: ;
//         .bi-shape {
//             position: absolute;
//             pointer-events: none;
//             overflow: visible;
//             transform-origin: top left;
//             contain: size layout;

//             transform: matrix(1, 0, 0, 1, 1000, 350);
//             width: 200px;
//             height: 200px;
//             opacity: 1;
//             z-index: 4001;
//             display: block;
//         }
//     }
// }
