<nz-page-header>
    <nz-page-header-title>Проводник</nz-page-header-title>
    <nz-page-header-extra>
        <nz-space>
            <!-- <button *nzSpaceItem nz-button>
                <span nz-icon nzType="expand"></span>
            </button> -->
            <!-- <button *nzSpaceItem nz-button>
                <span nz-icon nzType="search"></span>
            </button> -->
            <!-- <button *nzSpaceItem nz-button nzType="primary">
                <span nz-icon nzType="save"></span>
                Просмотр
            </button> -->
            <!-- <nz-segmented *nzSpaceItem [nzOptions]="
                [
                    { label: 'Список', value: 'List', icon: 'bars' },
                    { label: 'Сетка', value: 'Kanban', icon: 'appstore' }
                ]
            "></nz-segmented> -->
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>
<nz-content>
    <!-- <div class="inner-content"> -->
        <nz-tabset [nzSize]="'small'" [nzSelectedIndex]="0" bi-over-inner-tabs>
            <nz-tab nzTitle="Дашборды">
                <div class="inner-content">
                    Дашборды...
                    <hr>
                    <nz-button-group>
                        <nz-input-number
                            [nzSize]="'small'"
                            nzPlaceHolder="от"
                            style="
                                width: 60px;
                                border-top-right-radius: 0px;
                                border-bottom-right-radius: 0px
                            "
                        ></nz-input-number>
                        <nz-input-number
                            [nzSize]="'small'"
                            nzPlaceHolder="до"
                            style="
                                width: 60px;
                                border-radius: 0px;
                            "
                        ></nz-input-number>
                        <button
                            nz-button nzType="primary" [nzSize]="'small'"
                            title="Сбросить"
                        >
                            <span nz-icon [nzType]="'reload'"></span>
                        </button>
                    </nz-button-group>
                    <hr>
                    <nz-button-group>
                        <input nz-input placeholder="large size" nzSize="small"
                            style="
                            width: 120px;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px
                        "
                        />
                        <button
                            nz-button nzType="primary" [nzSize]="'small'"
                            title="Сбросить"
                        >
                            <span nz-icon [nzType]="'reload'"></span>
                        </button>
                    </nz-button-group>
                    <hr>
                    <nz-input-group nzCompact>
                        <nz-select
                            nzPlaceHolder="Select a bool"
                            [nzSize]="'small'"
                            style="width: 120px"
                        >
                            <nz-option nzLabel="ИЛИ" nzValue="или"></nz-option>
                            <nz-option nzLabel="И" nzValue="и"></nz-option>
                            <nz-option nzLabel="..." nzValue="..."></nz-option>
                        </nz-select>
                        <button
                            nz-button nzType="primary" [nzSize]="'small'"
                            title="Сбросить"
                            style="
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px
                            "
                        >
                            <span nz-icon [nzType]="'reload'"></span>
                        </button>
                    </nz-input-group>

                </div>
            </nz-tab>
            <nz-tab nzTitle="Отчеты">
                <div class="inner-content">
                    Отчеты...
                </div>
            </nz-tab>
        </nz-tabset>
    <!-- </div> -->

</nz-content>