
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

.d-contents {
    display: contents;
}

nz-content {
    // margin: 24px;
    margin: 0 12px 12px 12px;
}
  
.inner-content {
    padding: 12px;
    // padding: 24px;
    background: #fff;
    height: 100%;
}

.ant-page-header {
    padding: 8px 12px;
}
.ant-page-header-footer {
    margin-top: 8px;
}

/* режим конструктора */
.ant-layout.ant-layout-edit-mode {
    .ant-layout-header,
    .ant-layout-sider {
        display: none;
    }
}

/* app-finder */
[bi-over-inner-tabs] {
    height: 100%;
    > .ant-tabs-nav {
        margin: 0;
    }
    .ant-tabs-content {
        height: 100%;
        .ant-tabs-tabpane {
            height: 100%;
        }
    }
}